.mint-button {
  height: 24px;
  &--primary {
    background-color: $primary;
    color: $button-color;
    border-radius: 4px;
  }
  &-text {
    @include font-dpr(10px);
    color: $button-color;
  }

  &--default {
    background: $button-bg;
    border-radius: 4px;
    box-shadow: none;
  }
  &--normal {
    padding: 0 4px;
  }
  &--danger {
    background-color: $danger;
    .mint-button--normal .mint-button-text {
      @include font-dpr(14px);
      color: #FFFFFF;
    }
    .mint-button-text {
      color: #FFFFFF;
    }
  }
}
